{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/member.css' %}">
</head>

<body>
	<div class="titlebar">
		<div>
			<img src="{% static "images/UMCU2.png" %}" style="float: left">
			<img src="{% static "images/application.png" %}" style="float: right; height: 45px">
		</div>
	</div>
	<div class="form_content">
		<form id="new_account" onsubmit="create_user_onsubmit(); return false;">
			<fieldset>
				<legend>Account Information</legend>
				<ol>
					<li>
						<label>Type of Membership</label>
							<ul>
								<li>
									<label>Individual</label>
									<input id="individual" name="membership_type" type="radio">
								</li>
								<li>
									<label>Joint</label>
									<input id="joint" name="membership_type" type="radio">
								</li>
							</ul>
					<li>
						<label>Username: </label>
						<input id="username_input" name="username" type="text"> 
					</li>
					<li>
						<label>Password: </label>
						<input id="password1_input" name="password1" type="password"> 
					</li>
					<li>
						<label>Re-enter password: </label>
						<input id="password2_input" name="password2" type="password"> 
					</li>
				</ol>
			</fieldset>
			<fieldset>
				<legend>Primary Account Holder Information</legend>
				<ol>
					<li>
						<label>First Name: </label>
						<input id="firstname_input" name="firstname" type="text">
					</li>
					<li>
						<label>Middle Name/Initial: </label>
						<input id="middlename_input" name="middlename" type="text">
					</li>
					<li>
						<label>Last Name: </label>
						<input id="lastname_input" name="lastname" type="text">
					</li>
					<li>
						<label>Gender: </label>
						<select>
							<option value="M">Male</option>
							<option value="F">Female</option>
							<option value="O">Other</option>
						</select>
					</li>
					<li>
						<label>Date of Birth: </label>
						<input id="dob_input" name="dob" type="date">
					</li>
					<li>
						<label>SSN: </label>
						<input id="ssn_input" name="ssn" type="text">
					</li>
					<li>
						<label>Driver's License</label>
							<ul>
								<li>
									<label>License Number</label>
									<input id="license_input" name="license" type="text">
								</li>
								<li>
									<label>Issuing State</label>
									<select>
										<option value="AL">Alabama</option>
										<option value="AK">Alaska</option>
										<option value="AZ">Arizona</option>
										<option value="AR">Arkansas</option>
										<option value="CA">California</option>
										<option value="CO">Colorado</option>
										<option value="CT">Connecticut</option>
										<option value="DE">Delaware</option>
										<option value="DC">District Of Columbia</option>
										<option value="FL">Florida</option>
										<option value="GA">Georgia</option>
										<option value="HI">Hawaii</option>
										<option value="ID">Idaho</option>
										<option value="IL">Illinois</option>
										<option value="IN">Indiana</option>
										<option value="IA">Iowa</option>
										<option value="KS">Kansas</option>
										<option value="KY">Kentucky</option>
										<option value="LA">Louisiana</option>
										<option value="ME">Maine</option>
										<option value="MD">Maryland</option>
										<option value="MA">Massachusetts</option>
										<option value="MI" selected="selected">Michigan</option>
										<option value="MN">Minnesota</option>
										<option value="MS">Mississippi</option>
										<option value="MO">Missouri</option>
										<option value="MT">Montana</option>
										<option value="NE">Nebraska</option>
										<option value="NV">Nevada</option>
										<option value="NH">New Hampshire</option>
										<option value="NJ">New Jersey</option>
										<option value="NM">New Mexico</option>
										<option value="NY">New York</option>
										<option value="NC">North Carolina</option>
										<option value="ND">North Dakota</option>
										<option value="OH">Ohio</option>
										<option value="OK">Oklahoma</option>
										<option value="OR">Oregon</option>
										<option value="PA">Pennsylvania</option>
										<option value="RI">Rhode Island</option>
										<option value="SC">South Carolina</option>
										<option value="SD">South Dakota</option>
										<option value="TN">Tennessee</option>
										<option value="TX">Texas</option>
										<option value="UT">Utah</option>
										<option value="VT">Vermont</option>
										<option value="VA">Virginia</option>
										<option value="WA">Washington</option>
										<option value="WV">West Virginia</option>
										<option value="WI">Wisconsin</option>
										<option value="WY">Wyoming</option>
									</select>
								</li>
							</ul>
					</li>
					<li>
						<label>Email: </label>
						<input id="email_input" name="email" type="text">
					</li>
					<li>
						<label>Occupation: </label>
						<input id="occup_input" name="occup" type="text">
					</li>
					<li>
						<label>Membership Affiliation: </label>
						<select id="memb_affil" name="memb_affil">
							<option value='1'>UM Student</option>
							<option value='2'>UM Grad Student</option>
							<option value='3'>UM Hospital</option>
							<option value='4'>UM Faculty/Staff</option>
							<option value='5'>Alumni</option>
							<option value='6'>Retiree</option>
							<option value='7'>WCC</option>
							<option value='8'>Family Member</option>
							<option value='9'>Current Member</option>
							<option value='10'>Other</option>
						</select>
				</ol>
			</fieldset>

			<input id="submit" type="submit"> 
		</form>
	</div>
</body>
</html>